<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="1:1">
        @for (item of gridItems; track $index) {
            <mat-grid-tile 
                [class.filter-tile]="item.type === 'filter'"
                (click)="item.type === 'driver' ? squareClick(item.number) : ''"
            >
                @if (item.type === 'filter') {
                    {{item.filterCriteria}}
                } @else if (item.type === 'driver') {
                    {{item.driverName || item.number}}
                } @else {
                    F1 Grid
                }
            </mat-grid-tile>
        }
    </mat-grid-list>
</div>